html,
body {
  overflow-x: hidden;
}
.logo {
  backdrop-filter: blur(10px);
  height: 10%;
}
.hero-grid {
  display: grid;
  position: relative;
  margin-top: 3rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.hero-grid img:nth-child(1) {
  height: 60%;
  object-fit: cover;
  border-radius: 200px 100px 3px 200px;
}
.hero-grid img:nth-child(2) {
  height: 115%;
  object-fit: cover;
  border-radius: 15%;
  border-bottom-left-radius: 3px;
  transform: translateX(7%);
}
.hero-grid img:nth-child(3) {
  height: 130%;
  object-fit: cover;
  border-radius: 20%;
  border-top-right-radius: 3px;
  transform: translateY(-25%);
}

.hero-grid img:nth-child(4) {
  height: 75%;
  border-radius: 30px;
  border-top-left-radius: 3px;
  transform: translate(7%, 30%);
}
.hero-btn {
  transition: transform ease-in 300ms;
}
.hero-btn:hover {
  transform: translateY(-5px);
}
.travel-img {
  max-width: 100%;
  border-radius: 10px;
}

/* Contact Page */
.contact {
  padding-top: 8rem;
}
.contact-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 3rem;
}

.about-us {
  max-width: 58ch;
  font-size: 1rem;
  font-weight: 400;
  margin-block: 1.2rem;
  line-height: 2;
  text-align: justify;
}
/* Tours page */
.tour-card {
  min-height: 90dvh;
  margin-block: 4rem;
}
.tour-card:nth-child(odd) {
  flex-direction: row-reverse;
}
.tour-title {
  font-size: calc(1.3rem + 1.5vw);
  margin-bottom: 1rem;
}
.tour-description {
  font-size: 1rem;
  text-align: justify;
  line-height: 1.7;
  max-width: 50ch;
}

.gallery {
  --g: 6px; /* the gap */

  display: grid;
  grid: auto-flow 1fr / repeat(3, 1fr);
  gap: var(--g);
}
.gallery img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
  object-fit: cover;
}

.gallery img:nth-child(2) {
  grid-area: 1/2 / span 2 / span 2;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    calc(50% + var(--g) / 4) 100%,
    0 calc(50% - var(--g) / 4)
  );
}
.gallery img:nth-child(3) {
  grid-area: 2/1 / span 2 / span 2;
  clip-path: polygon(
    0 0,
    calc(50% - var(--g) / 4) 0,
    100% calc(50% + var(--g) / 4),
    100% 100%,
    0 100%
  );
}

footer {
  background-color: #fff1da;
  padding-top: 3rem;
}

.company-text {
  max-width: 35ch;
  text-align: left;
}
